<header>
    <h3>{{ title }}</h3>
</header>
<div class="module_content">
    <fieldset>
        <label>Name</label>
        <input type="text">
    </fieldset>
    <fieldset>
        <label>Description</label>
        <textarea rows="12"></textarea>
    </fieldset>
    <fieldset style="width:48%; float:left; margin-right: 3%;">
        <!-- to make two field float next to one another, adjust values accordingly -->
        <label>Phone</label>
        <input type="text" style="width:92%;">
    </fieldset>
    <fieldset style="width:48%; float:left;">
        <!-- to make two field float next to one another, adjust values accordingly -->
        <label>Email</label>
        <input type="text" style="width:92%;">
    </fieldset>
    <div class="clear"></div>
    <fieldset>
        <label>Address</label>
        <input type="text">
    </fieldset>
    <fieldset>
        <label>Keywords</label>
        <input type="text">
    </fieldset>
</div>
<footer>
    <div class="submit_link">
        <input type="submit" value="Save" class="alt_btn">
    </div>
</footer>
<!-- end of post new article -->