<div class="row" ng-init="getKeywords();">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="keywords" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>keyword</th>
                            <th>Customers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="keyword in keywords">
                            <td>{{ keyword.name }}</td>
                            <td>
                                <a ng-repeat="cs in keyword.customers" href="#/customers/{{ cs.id }}/action/edit">#{{ cs.name }} </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>keyword</th>
                            <th>Customers</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <script type="text/javascript">
        function renderTable() {
            $('#keywords').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": false,
                "bInfo": true,
                "bAutoWidth": false
            });
        }
        </script>

    </div>
</div>
